<div class="row">
  <div class="col-md-1">
    <div class="subject-title"><%= set_image @supports.course_subject %></div>
  </div>
  <div class="col-md-4">
    <div class="subject-title">
      <h2 id="subject-h2-header">
        <span id="subject-header">
          <%= @supports.course_subject.subject_name %>
        </span>
      </h2>
      <div>
        <i><%= @supports.course_subject.subject_description %></i>
      </div>
      <p class="working-days">
        <%= "#{t "subjects.fields.during_time"}:
          #{@subject.during_time} #{t "subjects.fields.days"}" %>
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-divider subject-title">
      <div class="label-title"><%= t "user_tasks.content" %></div>
      <p><%= @supports.subject_content.html_safe if
        @supports.subject_content %></p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-divider subject-title">
      <div class="label-title"><%= t "subjects.project" %></div>
      <p id="project_name"
        title="<%= @supports.project_name.html_safe if @supports.project_name %>">
        <%= truncate @supports.project_name.html_safe if @supports.project_name %>
      </p>
    </div>
    <%= link_to t("subjects.change_project"), "#", data: {toggle: "modal",
      target: "#update_project"}, class: "btn btn-info" %>
  </div>
  <div class="col-md-1 action">
    <%= render "shared/action_user_subjects" %>
  </div>
</div>
<%= render "assign_project_modal" %>
<% if data_finish_task @supports.user_tasks_chart_data %>
  <div id="user-subjects-charts"
    data-user-name="<%= @supports.user_tasks_chart_data.keys %>"
    data-total-number-tasks="<%= @supports.user_tasks_chart_data.values %>">
  </div>
<% end %>
<br>
