<div id="landing_page">
  <div class="container-fluid home-index">
    <div class="flexslider">
      <ul class="slides">
        <% 4.times do %>
          <li>
            <%= image_tag "home.jpg" %>
            <div class="flex-caption">
              <h3 class="title"><%= t "staticpages.sliders.title" %></h3>
              <div class="excerpt">
                <p><%= t "staticpages.sliders.excerpt" %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <section class="programs-homepage">
    <div class="container text-center">
      <div class="title">
        <%= t "staticpages.programs.title" %>
      </div>
      <div class="programs-content">
        <i><%= t "staticpages.programs.content" %></i>
      </div>
      <div class="row">
        <% 4.times do |i| %>
          <%= link_to "#", class: "scroll_to_section",
            data: {target: "program-#{i}"} do %>
            <div class="col-md-6">
              <div class="program clearfix text-left">
                <div class="col-md-3">
                  <%= image_tag "ruby.png", class: "program-image" %>
                </div>
                <div class="col-md-9">
                  <h4 class="program-title">
                    <%= t "staticpages.programs.program.title" %>
                  </h4>
                  <p class="program-description">
                    <strong>
                      <%= t "staticpages.programs.program.description" %>
                    </strong>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>

  <% 4.times do |i| %>
    <section id="program-<%= i %>" class="program-progress clearfix">
      <div class="section-title">
        <%= t "staticpages.program_timeline.title" %>
      </div>
      <div class="container">
        <div class="col-sm-12 program-timeline">
          <div class="col-sm-3 timeline-block">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h2 class="title">
                  <%= t "staticpages.program_timeline.git.title" %>
                </h2>
                <h4>
                  <%= t "staticpages.program_timeline.git.duration" %>
                </h4>
              </div>
              <div class="timeline-body">
                <p>
                  <%= t "staticpages.program_timeline.git.body" %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 timeline-block">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h2 class="title">
                  <%= t "staticpages.program_timeline.ruby.title" %>
                </h2>
                <h4>
                  <%= t "staticpages.program_timeline.ruby.duration" %>
                </h4>
              </div>
              <div class="timeline-body">
                <p>
                  <%= t "staticpages.program_timeline.ruby.body" %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 timeline-block">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h2 class="title">
                  <%= t "staticpages.program_timeline.rails.title" %>
                </h2>
                <h4>
                  <%= t "staticpages.program_timeline.rails.duration" %>
                </h4>
              </div>
              <div class="timeline-body">
                <p>
                  <%= t "staticpages.program_timeline.rails.body" %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 timeline-block">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h2 class="title">
                  <%= t "staticpages.program_timeline.project1.title" %>
                </h2>
                <h4>
                  <%= t "staticpages.program_timeline.project1.duration" %>
                </h4>
              </div>
              <div class="timeline-body">
                <p>
                  <%= t "staticpages.program_timeline.project1.body" %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 timeline-block">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h2 class="title">
                  <%= t "staticpages.program_timeline.mysql.title" %>
                </h2>
                <h4>
                  <%= t "staticpages.program_timeline.mysql.duration" %>
                </h4>
              </div>
              <div class="timeline-body">
                <p>
                  <%= t "staticpages.program_timeline.mysql.body" %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3 timeline-block">
            <div class="timeline-content">
              <div class="timeline-heading">
                <h2 class="title">
                  <%= t "staticpages.program_timeline.project2.title" %>
                </h2>
                <h4>
                  <%= t "staticpages.program_timeline.project2.duration" %>
                </h4>
              </div>
              <div class="timeline-body">
                <p>
                  <%= t "staticpages.program_timeline.project2.body" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>

  <section id="counters">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <h2 class="title">
            <%= t "staticpages.counters.title" %>
          </h2>
          <h3 class="content">
            <%= t "staticpages.counters.content" %>
          </h3>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="counters-v2">
            <i class="counters-v2-icon fa fa-book"></i>
            <figure class="counter color-base counters-v2-no">
              <%= @programs_size %>
            </figure>
            <h4 class="counters-v2-title">
              <%= t "layouts.programs" %>
            </h4>
            <span class="counters-v2-subtitle">
              <%= t "staticpages.counters.completed" %>
            </span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="counters-v2">
            <i class="counters-v2-icon fa fa-mortar-board"></i>
            <figure class="counter color-base counters-v2-no">
              <%= @trainees_size %>
            </figure>
            <h4 class="counters-v2-title">
              <%= t "programs.trainees" %>
            </h4>
            <span class="counters-v2-subtitle">
              <%= t "staticpages.counters.learning" %>
            </span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="counters-v2">
            <i class="counters-v2-icon fa fa-users"></i>
            <figure class="counter color-base counters-v2-no">
              <%= @trainers_size %>
            </figure>
            <h4 class="counters-v2-title">
              <%= t "programs.trainers" %>
            </h4>
            <span class="counters-v2-subtitle">
              <%= t "staticpages.counters.manage" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div id="div-forms">
        <div id="login-form">
          <div class="modal-body">
            <div class="content-top" ><%= t "signins.banner" %></div>
            <div class="content-body">
              <div class="line-or"></div>
              <div class="form-modal">
                <%= render "users/sessions/new" %>
              </div>
              <div class="content-footer">
                <a id="login_lost_btn" class="see-more pull-right">
                  <%= t "user.forgot_password" %>
                </a>
                <a id="login_register_btn" class="see-more pull-left">
                  <%= t "signins.signup_now" %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="lost-form">
          <div class="modal-body">
            <div class="content-top" ><%= t "user.forgot_password" %></div>
            <div class="content-body">
              <div class="line-or"></div>
              <div class="form-modal" style="width: 90%; margin-left: 5%">
                <%= render "devise/passwords/new" %>
              </div>
              <div class="content-footer">
                <a class="see-more pull-left" id="lost_login_btn">
                  <%= t "staticpages.member" %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="register-form">
          <div class="modal-body">
            <div class="login-main login-agileits">
              <h1><%= t "staticpages.signup" %></h1>
              <h4>
                <a class="sign-in popup-top-anim"
                id="register_login_btn"><%= t "staticpages.member" %></a>
              </h4>
              <a id="register_lost_btn"><%= t "user.forgot_password" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
