<div id="landing_page">
  <div class="container-fluid scroll" id="home-index">
    <div class="flexslider">
      <ul class="slides">
        <% 4.times do %>
          <li>
            <%= image_tag "home.jpg" %>
            <div class="flex-caption">
              <h3 class="title"><%= t "staticpages.sliders.title" %></h3>
              <div class="excerpt">
                <p><%= t "staticpages.sliders.excerpt" %></p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <section id="learning-programs" class="clearfix scroll">
    <div class="col-md-12">
      <div class="flexslider">
        <ul class="slides">
          <li class="program-progress">
            <div id="program-open-edu" class="clearfix">
              <div class="section-title">
                <%= t "staticpages.open_edu.title" %>
              </div>
              <div class="container-fluid">
                <div class="col-sm-12 program-timeline" data-total-col="22">
                  <div class="col-sm-3 timeline-block" data-col="2">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.open_edu.git.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.open_edu.git.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.open_edu.git.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.open_edu.tutorial.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.open_edu.tutorial.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.open_edu.tutorial.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.open_edu.project1.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.open_edu.project1.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.open_edu.project1.body" %>"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="program-progress">
            <div id="program-intern" class="clearfix">
              <div class="section-title">
                <%= t "staticpages.intern.title" %>
              </div>
              <div class="container-fluid">
                <div class="col-sm-12 program-timeline" data-total-col="34">
                  <div class="col-sm-3 timeline-block" data-col="2">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.intern.git.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.intern.git.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.intern.git.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.intern.tutorial.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.intern.tutorial.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.intern.tutorial.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.intern.project1.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.intern.project1.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.intern.project1.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="2">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.intern.mysql.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.intern.mysql.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.intern.mysql.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.intern.project2.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.intern.project2.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.intern.project2.body" %>"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="program-progress">
            <div id="program-new-dev" class="clearfix">
              <div class="section-title">
                <%= t "staticpages.new_dev.title" %>
              </div>
              <div class="container-fluid">
                <div class="col-sm-12 program-timeline" data-total-col="34">
                  <div class="col-sm-3 timeline-block" data-col="2">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.new_dev.git.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.new_dev.git.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.new_dev.git.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.new_dev.tutorial.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.new_dev.tutorial.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.new_dev.tutorial.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.new_dev.project1.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.new_dev.project1.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.new_dev.project1.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="2">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.new_dev.mysql.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.new_dev.mysql.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.new_dev.mysql.body" %>"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 timeline-block" data-col="10">
                    <div class="timeline-content">
                      <div class="timeline-heading">
                        <h2 class="title">
                          <%= t "staticpages.new_dev.project2.title" %>
                        </h2>
                        <h4 class="subject-duration">
                          <%= t "staticpages.new_dev.project2.duration" %>
                        </h4>
                      </div>
                      <div class="timeline-body">
                        <span data-toggle="tooltip" data-placement="bottom"
                          title="<%= t "staticpages.new_dev.project2.body" %>"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="faq_homepage" class="scroll">
      <div class="container text-center">
        <div class="title">
          <%= t "staticpages.faq_homepage.title" %>
        </div>
        <div class="faq-description">
          <i><%= t "staticpages.faq_homepage.description" %></i>
        </div>
        <div class="row">
          <% @supports.most_viewed_posts.each.with_index 1 do |post, index| %>
            <%= link_to post do %>
              <div class="col-md-12 question">
                <h4 class="title text-left">
                  <%= "#{index}. #{post.title}" %>
                </h4>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
  </section>

  <section id="counters">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <h2 class="title">
            <%= t "staticpages.counters.title" %>
          </h2>
          <h3 class="content">
            <%= t "staticpages.counters.content" %>
          </h3>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="counters-v2">
            <i class="counters-v2-icon fa fa-book"></i>
            <figure class="counter color-base counters-v2-no"
              data-remaining="<%= @courses_size %>">
              <%= @supports.courses_size %>
            </figure>
            <h4 class="counters-v2-title">
              <%= t "layouts.courses" %>
            </h4>
            <span class="counters-v2-subtitle">
              <%= t "staticpages.counters.completed" %>
            </span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="counters-v2">
            <i class="counters-v2-icon fa fa-mortar-board"></i>
            <figure class="counter color-base counters-v2-no"
              data-remaining="<%= @trainees_size %>">
              <%= @supports.trainees_size %>
            </figure>
            <h4 class="counters-v2-title">
              <%= t "courses.trainees" %>
            </h4>
            <span class="counters-v2-subtitle">
              <%= t "staticpages.counters.learning" %>
            </span>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="counters-v2">
            <i class="counters-v2-icon fa fa-users"></i>
            <figure class="counter color-base counters-v2-no"
              data-remaining="<%= @trainers_size %>">
              <%= @supports.trainers_size %>
            </figure>
            <h4 class="counters-v2-title">
              <%= t "courses.trainers" %>
            </h4>
            <span class="counters-v2-subtitle">
              <%= t "staticpages.counters.manage" %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div id="div-forms">
        <div id="login-form">
          <div class="modal-body">
            <div class="content-top" ><%= t "signins.banner" %></div>
            <div class="content-body">
              <div class="line-or"></div>
              <div class="form-modal">
                <%= render "users/sessions/new" %>
              </div>
              <div class="content-footer">
                <a id="login_lost_btn" class="see-more pull-right">
                  <%= t "user.forgot_password" %>
                </a>
                <a id="login_register_btn" class="see-more pull-left">
                  <%= t "signins.signup_now" %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="lost-form">
          <div class="modal-body">
            <div class="content-top" ><%= t "user.forgot_password" %></div>
            <div class="content-body">
              <div class="line-or"></div>
              <div class="form-modal" style="width: 90%; margin-left: 5%">
                <%= render "devise/passwords/new" %>
              </div>
              <div class="content-footer">
                <a class="see-more pull-left" id="lost_login_btn">
                  <%= t "staticpages.member" %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="register-form">
          <div class="modal-body">
            <div class="login-main login-agileits">
              <h1><%= t "staticpages.signup" %></h1>
              <h4>
                <a class="sign-in popup-top-anim"
                id="register_login_btn"><%= t "staticpages.member" %></a>
              </h4>
              <a id="register_lost_btn"><%= t "user.forgot_password" %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
