<div>
  <table class="table table-striped tbl-language">
    <thead>
      <tr>
        <th class="name"><%= t "table.thead.name" %></th>
        <th class="action"><%= t "table.thread.action" %></th>
        <th>
          <% if policy new_trainer_stage_path %>
            <%= link_to t("buttons.new"), new_trainer_stage_path,
              class: "btn btn-success pull-right" %>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @stages.each do |stage| %>
        <tr>
          <td class="name"><%= stage.name %></td>
          <td class="action">
            <% if policy edit_trainer_stage_path(stage) %>
              <%= link_to t("buttons.edit"), edit_trainer_stage_path(stage) %>&nbsp;
            <% end %>
            <% if policy_with_method(url:
              edit_trainer_stage_path(stage), action: "destroy") %>
              <%= link_to t("buttons.delete"), trainer_stage_path(stage),
                method: :delete, data: {confirm: t("messages.delete.confirm")} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
