<div class="clearfix answer answer-<%= sub_comment.id %> reply">
  <div class="col-sm-10 padding-left-0 right-col offset-left-col ">
    <div class="content">
      <%= sub_comment.content.html_safe %> -
      <%= link_to sub_comment.user_name, sub_comment.user %>
      <span class="create-time">
        <%= t "qna.index.time_ago",
          time: time_ago_in_words(sub_comment.created_at) %>
      </span>

      <% if user_signed_in? %>
        <span class="actions">
          <% if current_user? sub_comment.user %>
            <%= link_to t("buttons.edit"),
              edit_post_comment_path(@post, sub_comment),
              class: "scroll_to_section", remote: true,
              data: {target: ".replies-#{sub_comment.parent.id} form"} %>
          <% end %>
          <% if current_user?(sub_comment.user) || current_user.is_admin? %>
            <%= link_to t("buttons.delete"),
              post_comment_path(@post, sub_comment),
              remote: true, method: :delete,
              data: {confirm: t("messages.delete.confirm")} %>
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
</div>
