$(".flash").html("<%= j render "layouts/flash" %>");

<% if @comment.root? %>
  var $div_form = $('#answer_form');
  var new_form = '<%= j render "comments/form", post: @post,\
    comment: @supports.new_comment, btn_new_text: t("faq.show.add_answer") %>';
<% else %>
  var $div_form = $('<%= ".replies-#{@comment.parent.id}" %> .reply-form');
  var new_form = '<form></form>';
<% end %>

<% if @comment.errors.any? %>
  $div_form.find('#error_explanation').remove();
  $div_form.prepend('<%=j render "shared/error_messages", object: @comment %>');
<% else %>
  var answer = '<%= ".answer-#{@comment.id}" %>';
  <% if @comment.root? %>
    $(answer).replaceWith('<%= j render "comments/comment",\
      comment: @comment, load_replies: false %>');
    $(answer).next().remove();
  <% else %>
    $(answer).replaceWith('<%= j render "comments/sub_comment",\
      sub_comment: @comment %>');
  <% end %>
  $(answer).removeClass('box-effect').addClass('box-effect');
  $div_form.html(new_form);
  $('html, body').animate({
    scrollTop: $(answer).offset().top - $('#user-header .navbar').height() - 20
  }, 500);
<% end %>
