<div class="form-modal-login">
  <%= form_for resource, as: resource_name, url: session_path(resource_name),
    id: "login-form", format: :json, remote: true do |f| %>
    <div>
      <%= f.email_field :email, placeholder: t("user.fields.email"),
        type: "text", class: "form-control" %>
      <%= f.password_field :password, autocomplete: "off",
        placeholder: t("user.fields.password"), class: "form-control", id: "input-append" %>
      <div class="error"></div>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="checkbox">
        <span>
          <%= f.check_box :remember_me, class: "character-checkbox" %>
        </span>
        <h5>
          <%= f.label :remember_me, t("signins.remember"), class: "fixed-label" %>
        </h5>
      </div>
    <% end %>
    <%= f.submit t("user.login"), class: "btn btn-custom btn-lg btn-block" %>
  <% end %>
</div>
