<%= form_for @trainee_evaluation,
  url: [:admin, @supports.targetable, @supports.trainee_evaluation] do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <div class="title"><%= @supports.targetable.user_name %></div>
    </div>
  </div>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <%= f.label :total_point %>
        <%= f.number_field :total_point, class: "form-control", readonly: true %>
      </div>
      <div class="form-group">
        <% if params[:user_subject_id] %>
          <b><%= t "subjects.about_subject" %>: </b>
          <%= @supports.targetable.subject_name %>
        <% else %>
          <b><%= t "courses.course" %>: </b>
          <%= @supports.targetable.course_name %>
        <% end %>
      </div>
      <%= f.hidden_field :user_id, value: @supports.targetable.user_id %>
      <%= f.hidden_field :targetable_id, value: @supports.targetable.id %>
      <%= f.hidden_field :targetable_type, value: @supports.targetable.class.name %>
    </div>
  </div>
  <div class="row">
    <div class="evaluation-details col-md-8 col-md-offset-2">
      <div class="title"><%= t "layouts.trainee_evaluations" %></div>
      <div class="form-group">
        <%= select_tag :evaluation_template,
          options_for_select(@supports.evaluation_templates), {include_blank: true,
          class: "form-control"} %>
      </div>
      <%= render "evaluation_check_lists", f: f %>
    </div>
    <div class="col-md-2">
      <%= link_to t("trainee_evaluations.add_new"), "#", id: "add-new" %>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-10">
        <p class="pull-right">
          <%= f.submit (f.object.new_record? ? t("buttons.create") :
            t("buttons.save")), class: "btn btn-primary" %>
        </p>
      </div>
    </div>
  </div>
<% end %>
