<div class="row">
  <% @courses.each_with_index do |course, course_index| %>
    <div style='font-weight: bold;'>
      <%= "#{course_index + 1}. #{course.name}" %>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style='font-weight: bold; width: 15%;'><%= t "mail.by_day.name" %></th>
          <th style='font-weight: bold; width: 15%;'><%= t "mail.by_day.subject" %></th>
          <th style='font-weight: bold; width: 10%;'><%= t "mail.by_day.progress" %></th>
          <th style='font-weight: bold; width: 20%;'><%= t "mail.by_day.task_init" %></th>
          <th style='font-weight: bold; width: 20%;'><%= t "mail.by_day.task_continue" %></th>
          <th style='font-weight: bold; width: 20%;'><%= t "mail.by_day.task_finished" %></th>
        </tr>
      </thead>
      <tbody>
        <% if course.progress? %>
          <% course.course_subjects.each do |course_subject| %>
            <% unless course_subject.finished? %>
              <% course_subject.user_subjects.each do |user_subject| %>
                <% if user_subject.progress? %>
                  <tr style="width: 100%; <%= 'color: #b22222' if user_subject.do_none_task? %>">
                    <td style='border: 1px solid #cecece; width: 15%; text-align: center'>
                      <%= user_subject.trainee.name %></td>
                    <td style='border: 1px solid #cecece; width: 15%; text-align: center'>
                      <%= course_subject.subject.name %></td>
                    <td style='border: 1px solid #cecece; width: 10%; text-align: center'>
                      <%= user_subject.percent_progress.to_i %>%</td>
                    <td style='border: 1px solid #cecece; width: 20%; text-align: center'>
                      <%= render "task_status", user_subject: user_subject, status: "init" %>
                    </td>
                    <td style='border: 1px solid #cecece; width: 20%; text-align: center'>
                      <%= render "task_status", user_subject: user_subject, status: "continue" %>
                    </td>
                    <td style='border: 1px solid #cecece; width: 20%; text-align: center'>
                      <%= render "task_status", user_subject: user_subject, status: "finished" %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
