<div class="fixedTitle">
  <div class="tbody">
    <div class="trow header">
      <div class="tcell stt">#</div>
      <div class="tcell name display_name title">
        <%= t "training_managements.headers.trainee_name" %>
        <%= link_to admin_filter_datas_path(type: :employee_name, filter_type: :evaluations),
          remote: true,
          class: "open-select",
          data: {name: "f-employee_name"} do %>
          <i class="fa ic ic-filter employee_name"></i>
        <% end %>
      </div>
      <div class="clear-both">
        <div class="side-bar">
        </div>
      </div>
    </div>
  </div>
</div>

<header class="fixedTable-header">
  <div id="table-header" class="scroll-table">
    <div class="tbody">
      <div class="trow header">
        <div class="tcell trainee_type category_name title">
          <%= t "training_managements.headers.trainee_type" %>
          <%= link_to admin_filter_datas_path(type: :category, filter_type: :evaluations),
            remote: true,
            class: "open-select",
            data: {name: "f-category"} do %>
            <i class="fa ic ic-filter category"></i>
          <% end %>
        </div>
        <div class="tcell location groups_id title">
          <%= t "training_managements.headers.location" %>
          <%= link_to admin_filter_datas_path(type: :divisions, filter_type: :evaluations),
            remote: true,
            class: "open-select",
            data: {name: "f-divisions"} do %>
            <i class="fa ic ic-filter toggle-button-division divisions"></i>
          <% end %>
        </div>
        <div class="tcell status title">
          <%= t "training_managements.headers.status" %>
          <%= link_to admin_filter_datas_path(type: :join_date, filter_type: :evaluations),
            remote: true,
            class: "open-select",
            data: {name: "f-join_date"} do %>
            <i class="fa ic ic-filter join_date"></i>
          <% end %>
        </div>
        <div class="tcell university title">
          <%= t "training_managements.headers.university" %>
          <%= link_to admin_filter_datas_path(type: :resigned_date, filter_type: :evaluations),
            remote: true,
            class: "open-select",
            data: {name: "f-resigned_date"} do %>
            <i class="fa ic ic-filter resigned_date"></i>
          <% end %>
        </div>
        <div class="tcell graduation skill_name skills_id title">
          <%= t "training_managements.headers.graduation" %>
          <%= link_to admin_filter_datas_path(type: :skill_name, filter_type: :evaluations),
            remote: true,
            class: "open-select",
            data: {name: "f-skill_name"} do %>
            <i class="fa ic ic-filter skill_name"></i>
          <% end %>
        </div>
        <div class="tcell programming_language rank title">
          <%= t "training_managements.headers.language" %>
          <%= link_to admin_filter_datas_path(type: "rank", filter_type: :evaluations),
            remote: true,
            class: "open-select",
            data: {name: "f-rank"} do %>
            <i class="fa ic ic-filter rank"></i>
          <% end %>
        </div>
        <div class="tcell start_training_date title">
          <%= t "training_managements.headers.start_training_date" %>
        </div>
        <div class="tcell leave_date title">
          <%= t "training_managements.headers.leave_date" %>
        </div>
        <div class="tcell finish_training_date title">
          <%= t "training_managements.headers.finish_training_date" %>
        </div>
        <div class="tcell ready_for_project title">
          <%= t "training_managements.headers.ready_for_real_project" %>
        </div>
        <div class="tcell contract_date title">
          <%= t "training_managements.headers.contract_date" %>
        </div>
        <div class="tcell working_day title">
          <%= t "training_managements.headers.working_days" %>
        </div>
        <div class="tcell trainer title">
          <%= t "training_managements.headers.trainer" %>
        </div>
        <div class="tcell current_progress title">
          <%= t "training_managements.headers.progress" %>
        </div>
        <div class="tcell note title">
          <%= t "training_managements.headers.note" %>
        </div>
        <div class="tcell action"></div>
      </div>
    </div>
  </div>
</header>
