<div id="training-managements" class="shedules-active">
  <table id="training-managements-tbl" class="table table-bordered display"
    data-source="<%= admin_training_managements_url format: "json" %>">
    <thead>
      <tr class="active">
        <th><%= t "training_managements.headers.trainee_name" %></th>
        <th><%= t "training_managements.headers.trainee_type" %></th>
        <th><%= t "training_managements.headers.location" %></th>
        <th><%= t "training_managements.headers.status" %></th>
        <th><%= t "training_managements.headers.university" %></th>
        <th><%= t "training_managements.headers.graduation" %></th>
        <th><%= t "training_managements.headers.language" %></th>
        <th><%= t "training_managements.headers.start_training_date" %></th>
        <th><%= t "training_managements.headers.leave_date" %></th>
        <th><%= t "training_managements.headers.finish_training_date" %></th>
        <th><%= t "training_managements.headers.ready_for_real_project" %></th>
        <th><%= t "training_managements.headers.contract_date" %></th>
        <th><%= t "training_managements.headers.working_days" %></th>
        <th><%= t "training_managements.headers.trainer" %></th>
        <th><%= t "training_managements.headers.progress" %></th>
        <th><%= t "training_managements.headers.note" %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
