<div id="main" class="clearfix">
  <div id="content">
    <div id="<%= controller_name %>">
      <h3 class="title">
        <%= t "training_managements.titles.all_trainee" %>
        <button id="btn-filter-on-off" title="<%= filter_title %>"
          class="btn-filter-onoff-project btn btn-default">
          &nbsp;
        </button>
        <span id="filter-loading" class="filter-loading-offset-top"></span>
      </h3>

      <div class="table">
        <%= render "training_management_header" %>
        <%= @training_management_presenters.html_safe %>
      </div>

      <div class="pull-right" id="number-records">
        <%= i18n_pluralize @users.size, Settings.record %>
      </div>

      <div class="list-filters">
        <div class="filter-form">
        </div>
      </div>
    </div>
  </div>
</div>
