<div id="main" class="clearfix">
  <div id="content">
    <div id="<%= controller_name %>">
      <%= image_tag "loading.svg", id: "loading" %>
      <h3 class="title">
        <%= t "training_managements.titles.all_trainee" %>

        <button id="btn-filter-on-off" title="<%= filter_title %>"
          class="btn-filter-onoff-project btn btn-default">
          &nbsp;
        </button>
        <span id="filter-loading" class="filter-loading-offset-top"></span>
      </h3>

      <div class="table">
        <%= render "shared/datatables/training_management_header" %>
        <%= @training_management_presenters.html_safe %>
      </div>

      <div class="pull-right" id="number-records">
      </div>

      <div id="filter" data-filter-data="<%= @filter_service.user_filter_data %>"
        data-type="<%= :training_managements %>" data-id="<%= current_user.id %>"
        data-is-turn-on="<%= @filter_service.is_on? %>">
      </div>

      <div class="list-filters">
        <div class="filter-form">
        </div>
      </div>
    </div>
  </div>
</div>
