<div id="statuses" class="profile-active">
  <p class="pull-right">
    <% if policy new_trainer_status_path %>
      <%= link_to t("buttons.new"), new_trainer_status_path, class: "btn btn-success" %>
    <% end %>
  </p>

  <table class="table table-striped tbl-status">
    <thead>
      <th class="index"><%= t "statuses.table.index" %></th>
      <th class="name"><%= t "statuses.table.name" %></th>
      <th class="action"><%= t "statuses.table.action" %></th>
    </thead>
    <tbody>
      <% unless @statuses.nil? %>
        <% @statuses.each.with_index 1 do |status, index| %>
          <tr>
            <td><%= index %></td>
            <td><%= status.name %></td>
            <% if policy edit_trainer_status_path(status) %>
              <td class="action">
                <%= link_to t("buttons.edit"), edit_trainer_status_path(status),
                  class: "text-primary" %> &nbsp;
              </td>
            <% end %>
            <% if policy_with_method(url: edit_trainer_status_path(status), action: "destroy") %>
              <td>
                <%= link_to t("buttons.delete"), trainer_status_path(status),
                  method: :delete, data: {confirm: t("messages.delete.confirm")},
                  class: "text-danger" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
