<div id="types" class="systems-active">
  <p class="pull-right">
    <% if policy(controller: "trainee_types", action: "new") %>
      <%= link_to t("buttons.new"),
        new_admin_trainee_type_path, class: "btn btn-success" %>
    <% end %>
  </p>
  <table class="table table-striped tbl-type">
    <thead>
      <tr>
        <th class="name"><%= t "table.thead.name" %></th>
        <th class="action"><%= t "table.thread.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @trainee_types.each do |trainee_type| %>
        <tr>
          <td class="name"><%= trainee_type.name %></td>
          <% if policy(controller: "trainee_types", action: "edit") %>
            <td class="action">
              <%= link_to t("buttons.edit"), edit_admin_trainee_type_path(trainee_type),
                class: "text-primary" %> &nbsp;
            </td>
          <% end %>
          <% if policy(controller: "trainee_types", action: "destroy") %>
            <td>
              <%= link_to t("buttons.delete"), admin_trainee_type_path(trainee_type),
                method: :delete, data: {confirm: t("messages.delete.confirm")},
                class: "text-danger" %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
