<%= form_for [:admin, @program] do |f| %>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :program_name %>
      <%= f.text_field :name, class: "form-control", maxlength: 255 %>
    </div>
  </div>
  <% if @program.new_record? %>
    <%= f.hidden_field :parent_id %>
  <% else %>
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :parent_program %>
        <%= f.select :parent_id, @program_supports.programs, {include_blank: true},
          {selected: f.object.parent_id, class: "form-control"} %>
      </div>
    </div>
  <% end %>
  <% if @program.root? %>
    <div class="col-sm-12">
      <div class="form-group program-type">
        <%= f.label :program_type %>
        <%= f.select :program_type, @program_supports.program_types, {},
          class: "form-control" %>
      </div>
    </div>
  <% else %>
    <%= f.hidden_field :program_type %>
  <% end %>

  <%= render "shared/error_messages", object: f.object %>
  <%= render "shared/form_assign_trainer", f: f,
    assigned_trainer_ids: @program_supports.assigned_trainer_ids,
    trainer_programs_handler: @program_supports.trainer_programs_handler,
    action: action %>
<% end %>
