<div class="fixedTitle">
  <div class="tbody">
    <div class="trow header">
      <div class="tcell stt">#</div>
      <div class="tcell namespace">
        Namespace
        <%= link_to filter_datas_path(type: :namespace,
          filter_type: :routes), remote: true, class: "open-select",
          data: {name: "f-namespace"} do %>
          <i class="fa ic ic-filter namespace"></i>
        <% end %>
      </div>

      <div class="tcell routes title">
        <%= t "routes" %>
        <%= link_to filter_datas_path(type: :controller_name,
          filter_type: :routes), remote: true, class: "open-select",
          data: {name: "f-controller_name"} do %>
          <i class="fa ic ic-filter controller_name"></i>
        <% end %>
      </div>
      <div class="clear-both">
        <div class="side-bar">
        </div>
      </div>
    </div>
  </div>
</div>

<header class="fixedTable-header">
  <div id="table-header" class="scroll-table">
    <div class="tbody">
      <div class="trow header">
        <% Settings.user_functions.each do |user_function| %>
          <div class="tcell <%= user_function %>-user_function
            title checked-function title">
            <%= user_function %>
            <input type="checkbox" id="checked_all_in_col">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
