<div class="fixedTitle">

  <div class="tbody">
    <div class="trow header">
      <div class="tcell stt">#</div>
      <div class="tcell <%= "#{type}" %> title">
        <%= t "training_managements.headers.#{type}" %>
        <%= link_to filter_datas_path(type: "#{type}", filter_type: :statistics),
          remote: true,
          class: "open-select",
          data: {name: "f-#{type}"} do %>
          <i class="fa ic ic-filter <%= "#{type}" %>"></i>
        <% end %>
      </div>
      <div class="clear-both">
        <div class="side-bar">
        </div>
      </div>
    </div>
  </div>
</div>

<header class="fixedTable-header">
  <div id="table-header" class="scroll-table">
    <div class="tbody">
      <div class="trow header">
        <div class="tcell number_trainees title">
          <%= t "statistics.#{type.pluralize}.number_trainees" %>
        </div>
      </div>
    </div>
  </div>
</header>
