<div class="fixedTitle">
  <div class="tbody">
    <div class="trow header">
      <div class="tcell stt">#</div>
      <div class="tcell staff_code title">
        <%= t "training_managements.headers.staff_code" %>
        <%= link_to filter_datas_path(type: :staff_code, filter_type: :training_managements),
          remote: true,
          class: "open-select",
          data: {name: "f-staff_code"} do %>
          <i class="fa ic ic-filter staff_code"></i>
        <% end %>
      </div>
      <div class="tcell name title">
        <%= t "training_managements.headers.trainee_name" %>
        <%= link_to filter_datas_path(type: :trainee_name, filter_type: :training_managements),
          remote: true,
          class: "open-select",
          data: {name: "f-trainee_name"} do %>
          <i class="fa ic ic-filter trainee_name"></i>
        <% end %>
      </div>
      <div class="clear-both">
        <div class="side-bar">
        </div>
      </div>
    </div>
  </div>
</div>

<header class="fixedTable-header">
  <div id="table-header" class="scroll-table">
    <div class="tbody">
      <div class="trow header">
        <div class="tcell trainee_type title">
          <%= t "training_managements.headers.trainee_type" %>
          <%= link_to filter_datas_path(type: :trainee_type, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-trainee_type"} do %>
            <i class="fa ic ic-filter trainee_type"></i>
          <% end %>
        </div>
        <div class="tcell location title">
          <%= t "training_managements.headers.location" %>
          <%= link_to filter_datas_path(type: :location, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-location"} do %>
            <i class="fa ic ic-filter toggle-button-division location"></i>
          <% end %>
        </div>
        <div class="tcell trainee_status title">
          <%= t "training_managements.headers.status" %>
          <%= link_to filter_datas_path(type: :trainee_status, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-trainee_status"} do %>
            <i class="fa ic ic-filter trainee_status"></i>
          <% end %>
        </div>
        <div class="tcell stage title">
          <%= t "training_managements.headers.stage" %>
          <%= link_to filter_datas_path(type: :stage, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-stage"} do %>
            <i class="fa ic ic-filter stage"></i>
          <% end %>
        </div>
        <div class="tcell university title">
          <%= t "training_managements.headers.university" %>
          <%= link_to filter_datas_path(type: :university, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-university"} do %>
            <i class="fa ic ic-filter university"></i>
          <% end %>
        </div>
        <div class="tcell graduation title">
          <%= t "training_managements.headers.graduation" %>
          <%= link_to filter_datas_path(type: :graduation, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-graduation"} do %>
            <i class="fa ic ic-filter graduation"></i>
          <% end %>
        </div>
        <div class="tcell programming_language title">
          <%= t "training_managements.headers.language" %>
          <%= link_to filter_datas_path(type: :programming_language, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-programming_language"} do %>
            <i class="fa ic ic-filter programming_language"></i>
          <% end %>
        </div>
        <div class="tcell start_training_date title">
          <%= t "training_managements.headers.start_training_date" %>
          <%= link_to filter_datas_path(type: :start_training_date, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-start_training_date"} do %>
            <i class="fa ic ic-filter start_training_date"></i>
          <% end %>
        </div>
        <div class="tcell leave_date title">
          <%= t "training_managements.headers.leave_date" %>
          <%= link_to filter_datas_path(type: :leave_date, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-leave_date"} do %>
            <i class="fa ic ic-filter leave_date"></i>
          <% end %>
        </div>
        <div class="tcell finish_training_date title">
          <%= t "training_managements.headers.finish_training_date" %>
          <%= link_to filter_datas_path(type: :finish_training_date, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-finish_training_date"} do %>
            <i class="fa ic ic-filter finish_training_date"></i>
          <% end %>
        </div>
        <div class="tcell ready_for_project title">
          <%= t "training_managements.headers.ready_for_real_project" %>
          <%= link_to filter_datas_path(type: :ready_for_project, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-ready_for_project"} do %>
            <i class="fa ic ic-filter ready_for_project"></i>
          <% end %>
        </div>
        <div class="tcell contract_date title">
          <%= t "training_managements.headers.contract_date" %>
          <%= link_to filter_datas_path(type: :contract_date, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-contract_date"} do %>
            <i class="fa ic ic-filter contract_date"></i>
          <% end %>
        </div>
        <div class="tcell working_day title">
          <%= t "training_managements.headers.working_days" %>
          <%= link_to filter_datas_path(type: :working_day, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-working_day"} do %>
            <i class="fa ic ic-filter working_day"></i>
          <% end %>
        </div>
        <div class="tcell trainer title">
          <%= t "training_managements.headers.trainer" %>
          <%= link_to filter_datas_path(type: :trainer, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-trainer"} do %>
            <i class="fa ic ic-filter trainer"></i>
          <% end %>
        </div>
        <div class="tcell current_progress title">
          <%= t "training_managements.headers.progress" %>
          <%= link_to filter_datas_path(type: :current_progress, filter_type: :training_managements),
            remote: true,
            class: "open-select",
            data: {name: "f-current_progress"} do %>
            <i class="fa ic ic-filter current_progress"></i>
          <% end %>
        </div>
        <div class="tcell note title">
          <%= t "training_managements.headers.note" %>
        </div>
        <div class="tcell action"></div>
      </div>
    </div>
  </div>
</header>
