<h3><%= t "imports.import_data" %></h3>
<div class="row">
  <div class="col-md-12">
    <%= form_tag admin_imports_path, method: :post, multipart: true do %>
      <div class="control-group">
        <% Settings.import.data_types.each do |data_type| %>
          <div class="list-group-items select-file-buttons" data-id="<%= data_type.model %>">
            <div class="checkbox">
              <label class="control-label">
                <%= check_box_tag "type[]", "#{data_type.model}", nil, class: "check-box-tag hidden",
                  id: "check-box-tag-file-select-#{data_type.model}" %>
                <%= t "imports.#{data_type.model.to_sym}" %>
              </label>
            </div>
            <div class="file-field-uploaded">
              <%= file_field_tag "file[]", id: "file-select-#{data_type.model}",
                class: "file-select", data: {model: "#{data_type.model}"}, accept: allowed_file %>
            </div>
            <div id="loading-image-<%= data_type.model %>" class=" load-image hidden">
              <%= image_tag "loading.gif", size: Settings.import.image_loading_size %>
            </div>
          </div>
          <hr>
        <% end %>
      </div>
      <div>
        <%= submit_tag t("imports.import"),
          data: {disable_with: t("imports.importing")},
          class: "btn btn-primary",
          id: "form-submit-btn" %>
      </div>
    <% end %>
  </div>
</div>

<br>
<% if @file %>
  <table class="table table-hover">
    <% @file.each_with_index do |line, index| %>
      <div class="pull-right text-danger">
        <%= line.split(": ").last if line.include? "FATAL" %>
      </div>
      <% unless index == 0 || line.include?("FATAL") %>
        <tr class="text text-<%= line.include?("INFO") ? 'info' : 'danger' %>">
          <td><%= index %></td>
          <td><%= line.split(": ").last %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
