<div class="dropdown pull-right">
  <button id="dLabel" type="button" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false"
    class="btn btn-default">
    <span class="glyphicon glyphicon-align-justify"
      aria-hidden="true"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right"
    aria-labelledby="dLabel">
    <li>
      <% if @supports.course.progress? %>
        <% if @supports.user_subjects.init.any? %>
          <%= link_to [@namespace.to_sym, @supports.course_subject],
            method: :patch, remote: true do %>
            <i class="fa fa-check" aria-hidden="true"></i>
            <%= t "admin.actions.show_subject.start_all" %>
          <% end %>
        <% end %>
        <% unless @supports.user_subjects.size == @supports.user_subjects.finish.size ||
          @supports.user_subjects.init.any? %>
          <%= link_to [@namespace.to_sym, @supports.course_subject],
            method: :patch, remote: true,
            data: {confirm: t("admin.confirms.finish_all")} do %>
            <i class="fa fa-minus-square-o" aria-hidden="true"></i>
            <%= t "admin.actions.show_subject.finish_all" %>
          <% end %>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to [:edit, @namespace.to_sym, @supports.course,
        @supports.course_subject] do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
        <%= t "buttons.edit" %>
      <% end %>
    </li>
    <li>
      <%= link_to [@namespace.to_sym, @supports.course,
        @supports.course_subject], method: :delete, data: {confirm: t("messages.delete.confirm")} do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
        <%= t "buttons.delete" %>
      <% end %>
    </li>
  </ul>
</div>
