<div class="row">
  <div class="col-md-12">
    <table id="tbl-assign-user" class="table table-hover">
      <thead>
        <th class="assign-checkbox"></th>
        <th><%= t "courses.users.name" %></th>
        <th><%= t "courses.users.email" %></th>
      </thead>
      <%= f.label :search_trainer, class: "label-select" %>
      <tbody>
        <%= render partial: "shared/assign_trainer_row",
          locals: {f: f, assigned_trainer_ids: assigned_trainer_ids,
          trainer_programs_handler: trainer_programs_handler} %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-1 col-md-offset-11">
    <%= f.submit t("buttons.#{action}"), class: "btn btn-primary pull-right" %>
  </div>
</div>
