<div class="modal fade" id="login-modal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div id="div-forms">
      <div id="login-form">
        <div class="modal-body">
          <div class="content-top"><%= t "signins.banner" %></div>
          <div class="content-body">
            <div class="line-or"></div>
            <div class="form-modal">
              <%= render "users/sessions/new" %>
            </div>
            <div class="content-footer">
              <a id="login_lost_btn" class="see-more pull-right">
                <%= t "user.forgot_password" %>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="lost-form">
        <div class="modal-body">
          <div class="content-top"><%= t "user.forgot_password" %></div>
          <div class="content-body">
            <div class="line-or"></div>
            <div class="form-modal" style="width: 90%; margin-left: 5%">
              <%= render "devise/passwords/new" %>
            </div>
            <div class="content-footer">
              <a class="see-more pull-left" id="lost_login_btn">
                <%= t "staticpages.member" %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
