<div class="prog-bar-cont">
  <div class="arrow-down" id="arrow-real<%= +index.to_s %>">
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </div>
  <div id="point-real<%= +index.to_s %>" class="date-on">
    <%= user_subject.user_end_date ? (l user_subject.user_end_date,
      format: :default) : t("user.no_start_date") %>
  </div>
  <div class="prog-bar fix-size-bar">
    <div class="prog-bar-bg<%= check_on_time user_subject %>"
      style="width: 100%;
      background-size: <%= percent_size percent %>">
      <p></p>
    </div>
  </div>
  <div class="pull-left date-under" id="point-start<%= +index.to_s %>">
    <%= user_subject.start_date ? (l user_subject.start_date,
      format: :default) : t("user.no_start_date") %>
  </div>
  <div class="pull-left date-under" id = "point-expect<%= +index.to_s %>">
    <%= user_subject.end_date ? (l user_subject.end_date,
      format: :default) : t("user.no_start_date") %>
  </div>
  <div class="arrow-up">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>
  <div class="arrow-up" id="arrow-expect<%= +index.to_s %>">
    <i class="fa fa-chevron-up" aria-hidden="true"></i>
  </div>

  <% if user_subject.user_end_date.present? %>
    <%= hidden_field_tag "spent_time"+index.to_s,
      (user_subject.user_end_date - user_subject.start_date).to_f %>
    <%= hidden_field_tag "expect_time"+index.to_s,
      (user_subject.end_date - user_subject.start_date).to_f %>
    <%= hidden_field_tag "size", size %>
  <% end %>
</div>
