<%= render "users/course", user_course: user_course %>
<div class="timeline-profile">
  <ul class="timeline timeline-inverse">
    <% user_course.user_subjects.each.with_index do |user_subject, index| %>
      <li class="time-label">
        <span class="<%= @supports.status_background 'start' %>">
          <%= user_subject.start_date ? (l user_subject.start_date,
            format: :default) : t("user.no_start_date") %>
        </span>
      </li>
      <li>
        <div class="timeline-badge timeline-header">
          <%= set_image user_subject, Settings.image_size_50 %>
        </div>
        <div class="timeline-panel <%= @supports.background_icon index %>
          box box-widget collapsed-box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-md-4">
                <h3>
                  <%= link_to user_subject.subject.name,
                    @supports.link_user_subject(user_subject, @namespace) %>
                </h3>
              </div>
              <div class="col-md-8">
                <div class="position-progress">
                  <%= render "shared/progress_bar_date",
                    percent: user_subject.percent_progress,
                    user_subject: user_subject,
                    index: index,
                    course_index: course_index,
                    size: user_course.user_subjects.size %>
                </div>
              </div>
            </div>
            <table class="table table-hover">
              <tr>
                <th class="col-md-3"><%= t "user.evaluation_point" %></th>
                <th class="col-md-3"><%= t "user.link_github" %></th>
                <th class="col-md-3"><%= t "user.link_heroku" %></th>
                <th class="col-md-3"><%= t "user.exams" %></th>
              </tr>
              <tbody>
                <tr>
                  <td>
                    <%= user_subject.trainee_evaluations.first.total_point if
                      user_subject.trainee_evaluations.any? %>
                  </td>
                  <td><%= user_subject.course_subject_link_github %></td>
                  <td><%= user_subject.course_subject_link_heroku %></td>
                  <td>
                    <% if user_subject.exams.any? %>
                      <% user_subject.exams.each.with_index 1 do |exam, index| %>
                        <div>
                          <%= link_to t("users.exam", index: index),
                            @supports.link_exam(exam, @namespace) %>
                          (<%= exam.score %>)
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="box-tools">
              <button type="button" class="btn btn-box-tool"
                data-widget="collapse">
                <i class="glyphicon glyphicon-chevron-down"></i>
              </button>
            </div>
          </div>
          <div class="box-body">
            <table class="table table-hover">
              <tr class="user-subject user-subject-<%= user_subject.id %>">
                <th><%= t "tasks.task" %></th>
                <th><%= t "layouts.status" %></th>
                <th><%= t "users.pull_request" %></th>
              </tr>
              <% user_subject.user_tasks.each do |user_task| %>
                <tr class="user-subject user-subject-<%= user_subject.id %>">
                  <td><p><%= user_task.task_name %></p></td>
                  <td class=<%= task_color user_task.status %>>
                    <%= t "user_tasks.statuses.#{user_task.status}" %></td>
                    <td><%= user_task.pull_request_url %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
