<div id="list_task" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div id="body_modal_task">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-remove"></i>
        </button>
      </div>

      <div class="row user-notification" id="to_do_list">
        <div class="col-md-12">
          <div class="container" id="tabs">

            <ul class="tabs">
              <li class="tab-link current" data-tab="tab-my-task"><%= t "task_modal.my_task" %></li>
              <li class="tab-link" data-tab="tab-task-history"><%= t "task_modal.task_history" %></li>
            </ul>

            <div id="tab-my-task" class="tab-content current">
              <div class="row">
                <div class="col-md-6">
                  <div class="height-20px"></div>
                  <div id="user_task">
                    <%= render "to_do_lists/user_task" %>
                  </div>
                  <div class="sppace">
                    <h6><%= t "task_modal.task_finish_on_day" %></h6>
                  </div>
                  <div id="task_finished_on_day">
                    <%= render "to_do_lists/user_task_do_by_day" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="height-20px-border"></div>
                  <div style="" class="user_task_details">
                    <% if @user_task %>
                      <%= render "user_tasks/show" %>
                    <% else %>
                      <div class="task_detail"></div>
                    <% end %>
                    </div>
                    </div>
                  </div>
                </div>
                <div id="tab-task-history" class="tab-content">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="height-20px"></div>
                      <div id="task_finished">
                        <%= render "to_do_lists/user_task_was_finished" %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="height-20px-boder"></div>
                      <div style="" class="user_task_details">
                        <% if @user_task %>
                          <%= render "user_tasks/show" %>
                        <% else %>
                          <div class="task_detail"></div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
