<%= form_for @user_form, url: move_stage_user_path(@user_form),
 html: {method: :patch} do |f| %>
  <%= render "shared/error_messages", object: @user_form %>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h1><%= @supports.user_form.name %></h1>
        <label><%= t "profiles.columns.staff_code" %></label>
        &nbsp;&nbsp;<%= f.text_field :staff_code, class: "text-center" %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="text-center stage-selection">
      <select class="form-control" disabled="disabled">
        <option selected="true"><%= @user_form.user.profile.stage.name %></option>
      </select>
    </div>
    <div class="well">
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :start_training_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :start_training_date, value: @user.profile.start_training_date ?
            l(@user.profile.start_training_date, format: :default) : "", disabled: true,
            class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :leave_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :leave_date, value: @user.profile.leave_date ?
            l(@user.profile.leave_date, format: :default) : "",
            disabled: true, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :finish_training_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :finish_training_date, value: @user.profile.finish_training_date ?
            l(@user.profile.finish_training_date, format: :default) : "",
            disabled: true, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :contract_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :contract_date, disabled: true, value: @user.profile.contract_date ?
            l(@user.profile.contract_date, format: :default) : "", class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :naitei_company %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :naitei_company, disabled: true, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :graduation %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :graduation, disabled: true, value: @user.profile.graduation ?
            l(@user.profile.graduation, format: :year_month) : "", class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :trainee_type_id %>
        </div>
        <div class="col-md-7">
          <select class="for-form" disabled="disabled">
            <option selected="true"><%= @supports.profile.trainee_type_name %></option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :university_id %>
        </div>
        <div class="col-md-7">
          <select class="for-form" disabled="disabled">
            <option selected="true"><%= @supports.profile.university_name %></option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :language_id %>
        </div>
        <div class="col-md-7">
          <select class="for-form" disabled="disabled">
            <option selected="true"><%= @supports.profile.language_name %></option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :status_id %>
        </div>
        <div class="col-md-7">
          <select class="for-form" disabled="disabled">
            <option selected="true"><%= @supports.profile.status_name %></option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :location_id %>
        </div>
        <div class="col-md-7">
          <select class="for-form" disabled="disabled">
            <option selected="true"><%= @supports.profile.location_name %></option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :working_day %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :working_day, disabled: true, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :join_div_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :join_div_date, value: @user.profile.join_div_date ?
            l(@user.profile.join_div_date, format: :default) : "",
            disabled: true, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :ready_for_project %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :ready_for_project,
            value: @user.profile.ready_for_project ?
            l(@user.profile.ready_for_project, format: :default) : "",
            class: "form-control datepicker profile" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2 text-center">
    <%= f.submit t("buttons.move"), class: "btn btn-danger btn-lg btn-submit" %>
  </div>

  <div class="col-md-5">
    <div class="text-center stage-selection">
      <%= f.select :stage_id, options_for_select(@supports.stages),
        {}, class: "form-control" %>
    </div>
    <div class="well">
              <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :start_training_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :start_training_date, value: @user.profile.start_training_date ?
            l(@user.profile.start_training_date, format: :default) : "",
            class: "for-form datepicker" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :leave_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :leave_date, value: @user.profile.leave_date ?
            l(@user.profile.leave_date, format: :default) : "",
            class: "for-form datepicker" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :finish_training_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :finish_training_date, value: @user.profile.finish_training_date ?
            l(@user.profile.finish_training_date, format: :default) : "",
            class: "for-form datepicker" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :contract_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :contract_date, value: @user.profile.contract_date ?
            l(@user.profile.contract_date, format: :default) : "",
            class: "for-form datepicker" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :naitei_company %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :naitei_company, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :graduation %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :graduation, value: @user.profile.graduation ?
            l(@user.profile.graduation, format: :year_month) : "",
            class: "for-form graduation" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :trainee_type_id %>
        </div>
        <div class="col-md-7">
          <%= select_profile_field "trainee_type", @supports.trainee_types, f, "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :university_id %>
        </div>
        <div class="col-md-7">
          <%= select_profile_field "university", @supports.universities, f, "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :language_id %>
        </div>
        <div class="col-md-7">
          <%= select_profile_field "language",
            @supports.languages, f, "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :status_id %>
        </div>
        <div class="col-md-7">
          <%= select_profile_field "status", @supports.statuses, f, "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :location_id %>
        </div>
        <div class="col-md-7">
          <%= select_profile_field "location", @supports.locations, f, "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :working_day %>
        </div>
        <div class="col-md-7">
          <%= f.number_field :working_day, step: Settings.working_day.step,
            min: Settings.working_day.min, max: Settings.working_day.max, class: "for-form" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :join_div_date %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :join_div_date, value: @user.profile.join_div_date ?
            l(@user.profile.join_div_date, format: :default) : "",
            class: "for-form datepicker" %>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-5">
          <%= f.label :ready_for_project %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :ready_for_project,
            value: @user.profile.ready_for_project ?
            l(@user.profile.ready_for_project, format: :default) : "",
            class: "form-control datepicker profile" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
