var html = "";
<% @assign_user_form.users.each do |user| %>
  html += "<li class='list-group-item' data-user='<%= user.id %>'\
    id='<%= user.user_course_id %>'>\
      <span class='user_name'><%= user.name %></span>\
    </li>";
<% end %>
$('#list-users').html(html);

html = "";
<% @course.trainer_courses.each do |trainer_course| %>
  html += "<li class='list-group-item' data-user='<%= trainer_course.user.id %>'\
    id='<%= trainer_course.id %>' data-type='TrainerCourse'>\
      <span class='user_name'><%= trainer_course.user.name %></span>\
    </li>";
<% end %>
$('#list-trainers').html(html);

html = "";
<% @course.trainee_courses.each do |trainee_course| %>
  html += "<li class='list-group-item' data-user='<%= trainee_course.user.id %>'\
  id='<%= trainee_course.id %>' data-type='TraineeCourse'>\
    <span class='user_name'><%= trainee_course.user.name %></span>\
  </li>";
<% end %>
$('#list-trainees').html(html);

var user_items = $('.list-group.checked-list-box .list-group-item');
build_list_user_selectbox(user_items);

var input_search_height = $('.search_form').height();
$('#btn-assign-trainer').css('margin-top',
  ($('#list-trainers').height() + input_search_height) / 2 + 25);
$('#btn-remove-user').css('margin-top',
  parseInt($('#btn-assign-trainer').css('margin-top')) - $('#btn-assign-trainer').height());
$('#btn-assign-trainee').css('margin-top',
  $('#list-trainees').height() / 2 + input_search_height);

$('#list-users, #list-trainers, #list-trainees').each(function () {
  count_record(this, 'li.list-group-item');
});
