<div class="location-structure">
  <div class="location-name">
    <%= link_to location.name, admin_location_path(location), title: location.name %>
  </div>

  <div class="manager-structure">
    <%= link_to [:admin, location.manager], title: location.manager.name do %>
      <div class="profile-structure">
        <div class="avatar">
          <%= avatar_user_tag location.manager, "img-circle",
            Settings.image_size_40 %></div>
        <div>
          <strong><%= t "organization_charts.manager" %></strong><br>
          <%= location.manager.name %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="structure-content">
    <%= render "away", away_profiles: @support.away_trainees(location) %>
  </div>
  <div class="structure-content">
    <% @support.organization(location).each do |trainer, subjects| %>
      <%= render "trainer", trainer: trainer, subjects: subjects %>
    <% end %>
  </div>
</div>
