<div>
  <div class="trainer-structure">
    <%= link_to [:admin, trainer], title: trainer.name do %>
      <div class="profile-structure">
        <div class="avatar">
          <%= avatar_user_tag trainer, "img-circle",
            Settings.image_size_40 %></div>
        <div>
          <strong><%= t "organization_charts.trainer" %></strong><br>
          <%= trainer.name %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="subject-structure">
    <% subjects.each do |subject, profiles| %>
      <%= render "course_subject", subject: subject,
        profiles: profiles unless subject == "free_trainees" %>
    <% end %>
    <%= render "free_trainees", profiles: subjects["free_trainees"] %>
  </div>
</div>
