<div class="trainee-structure">
  <%= link_to [:admin, profile.user], title: profile.user.name do %>
    <div class="profile-structure">
      <div class="avatar">
        <%= avatar_user_tag profile.user, "img-circle",
          Settings.image_size_40 %></div>
      <div style="color: <%= profile.trainee_type.color if
        profile.trainee_type %>">
        <strong><%= t "organization_charts.trainee" %></strong><br>
        <%= profile.user.name %>
      </div>
    </div>
  <% end %>
</div>
