<div class="trainee-structure">
  <%= link_to [:admin, user_subject.trainee], title: user_subject.trainee_name do %>
    <div class="profile-structure">
      <div class="avatar">
        <%= avatar_user_tag user_subject.trainee, "img-circle",
          Settings.image_size_40 %></div>
      <div style="color: <%= user_subject.trainee.profile.user_type.color if
        user_subject.trainee.profile.user_type %>">
        <strong><%= t "organization_charts.trainee" %></strong><br>
        <%= user_subject.trainee_name %>
      </div>
    </div>
  <% end %>
</div>
