<%= form_for [:admin, @project] do |f| %>
  <%= render "shared/error_messages", object: @project %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <h3><%= f.label :requirement %></h3>
    <%= f.fields_for :project_requirements do |builder| %>
      <%= render "project_requirement_fields", f: builder %>
    <% end %>
    <strong><%= link_to_add_fields t("projects.add_requirement"),
      f, :project_requirements %></strong>
    <% if f.object.new_record? %>
      <%= f.submit t("buttons.create_and_continue"),
        name: "create_and_continue",
        class: "btn btn-primary pull-right btn-create-and-continue" %>
      <%= f.submit t("buttons.create"),
        class: "btn btn-primary pull-right" %>
    <% else %>
      <%= f.submit t("buttons.save"),
        class: "btn btn-primary pull-right" %>
    <% end %>
  </div>
<% end %>
