<div id="statistics">
  <div class="<%= params[:type] %>">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">
          <%= t "statistics.universities.title" %>
        </h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div id="universities-statistic"
          data-universities="<%= @statistics.universities %>">
        </div>
      </div>
    </div>

    <div class="box box-success" id="tbl-universities">
      <div class="box-header with-border">
        <h3 class="box-title">
          <%= t "statistics.universities.title_detail" %>
        </h3>

        <div class="box-tools pull-right">
          <%= image_tag "loading.gif", id: "loading" %>
          <span id="filter-loading" class="filter-loading-offset-top"></span>
          <button id="btn-filter-on-off" title="<%= filter_title %>"
            class="btn-filter-onoff-project btn btn-default">
            &nbsp;
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div id="<%= params[:type] %>" class="box-body">
        <div class="table">
          <%= render "shared/datatables/statistic_university_header" %>
          <%= @statistics.university_presenters.html_safe %>
          <%= render "total_statistic_university_number" %>
        </div>

        <div class="pull-right" id="number-records">
        </div>

        <div id="filter" data-filter-data="<%= @filter_service.user_filter_data %>"
          data-type="<%= :training_managements %>" data-id="<%= current_user.id %>"
          data-is-turn-on="<%= @filter_service.is_on? %>">
        </div>

        <div class="list-filters">
          <div class="filter-form">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
