<fieldset class="field row">
  <div class="col-md-9">
    <%= f.label :answer %>
    <%= f.text_area :content, class: "form-control" %>
  </div>

  <div class="col-md-2 colcorrect-choose">
    <%= f.label :is_correct %>
    <div class="form-group">
      <%= f.check_box :is_correct, class: "check" %>
    </div>
  </div>

  <div class="col-md-1">
    <%= f.hidden_field :_destroy %>
    <%= link_to "#", class: "remove_fields" do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  </div>
</fieldset>
