<div class="author">
  <%= link_to avatar_user_tag(user_task.trainee, "img-circle", Settings.image_size_40),
    user_path(user_task.trainee), title: user_task.trainee_name %>
</div>
<h2>
  <div class="dropdown task-action">
    <button type="button" class="btn btn-primary btn-circle dropdown-toggle"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <i class="glyphicon glyphicon-list"></i>
    </button>
    <ul class="dropdown-menu">
      <%= user_task_action(user_task.status).html_safe %>
    </ul>
  </div>
  <strong class="task-name"><%= user_task.task_name %></strong>
</h2>
<span class="author-name"><%= user_task.task_description %></span>
<span class="priority">
  <em class="priority-<%= user_task.status %>" title="<%= user_task.status %>">
    <%= user_task.status %>
  </em>
</span>
<div class="progress-bar">
  <div class="progress-box">
    <div class="expand"></div>
  </div>
</div>
<p class="task-details">
  <span class="start-date" title="<%= t "user_tasks.title.start_date" %>">
    <strong><i class="fa fa-calendar" aria-hidden="true"></i>
      <%= t "user_tasks.label.start_date" %>
    </strong>
  </span>
  <span class="spent-time" title="<%= t "user_tasks.title.spent_time" %>">
    <strong><i class="fa fa-clock-o" aria-hidden="true"></i>
      <%= t "user_tasks.label.spent_time" %>
    </strong>
  </span>
  <span class="git-link" title="<%= t "user_tasks.title.git_link" %>">
    <strong><i class="fa fa-github" aria-hidden="true"></i>
      <%= t "user_tasks.label.git_link" %>
    </strong>
  </span>
  <span class="task-cost" title="<%= t "user_tasks.title.sent_count" %>">
    <strong><i class="fa fa-database" aria-hidden="true"></i>
      <%= t "user_tasks.label.sent_count" %>
    </strong>
  </span>
</p>
