<% provide :title, @subject_supports.user_subject.subject_name %>

<div id="subject-show">
  <div class="row">
    <div class="col-md-9">
      <div class="breadcrumb-bar">
        <ul class="list breadcrumb">
          <li>
            <%= link_to root_url do %>
              <i class="glyphicon glyphicon-th-list"></i>
              <%= t "layouts.paths" %>
            <% end %>
          </li>
          <li><%= link_to t("layouts.all_courses"), courses_path %></li>
          <li><%= link_to @subject_supports.user_subject.course_name,
            user_course_path(@subject_supports.user_subject.user_course) %></li>
          <li class="active"><%= @subject_supports.user_subject.name %></li>
        </ul>
      </div>
      <div class="subject-overview">
        <span class="header-title">
          <%= @subject_supports.user_subject.name %>
        </span>
        <span class="label-status <%= set_background_color_status @subject_supports.user_subject.status %>">
          <%= t "courses.labels.status.#{@subject_supports.user_subject.status}" %>
        </span>
        <% unless @subject_supports.user_subject.finish? || @subject_supports.course.finish? %>
          <div id="dialog-finish" title="<%= t "user_subjects.finish.confirm-title" %>"
            class="dialog">
            <% if @subject_supports.user_subject.subject.subject_detail %>
              <p><%= t "user_subjects.finish.confirm_exam" %></p>
              <%= link_to "", user_subject_path(@subject_supports.user_subject),
                method: :put, class: "hidden", id: "finish-subject-exam" %>
            <% else %>
              <p><%= t "user_subjects.finish.confirm_project" %></p>
              <%= link_to "", user_subject_path(@subject_supports.user_subject),
                method: :put, class: "hidden", id: "finish-subject-project" %>
            <% end %>
          </div>
          <% if current_user.is_trainee? && @subject_supports.user_subject.progress? %>
            <%= link_to t("buttons.finish"), "#",
              class: "btn btn-danger pull-right finish-subject" %>
          <% elsif @subject_supports.user_subject.subject.subject_detail && @subject_supports.user_subject.waiting? %>
            <%= link_to t("buttons.do_exam"), "#",
              class: "btn btn-info pull-right do-exam-now" %>
          <% end %>
        <% end %>
        <div class="description"><%= @subject_supports.user_subject.description %></div>
        <div class="subject-content box-divider">
          <div class="label-title"><%= t "subjects.content" %></div>
          <%= @subject_supports.user_subject.content.html_safe if @subject_supports.user_subject.content %>
        </div>
      </div>

      <div class="user-subjects-charts">
        <%= render "user_subject_charts" %>
      </div>
      <br>

      <div class="render-task">
        <div class="user-task">
          <div class="overview">
            <%= t "subjects.task_overview" %>
            <% if current_user.is_trainee? && @subject_supports
              .user_subject.progress? && !@subject_supports.course.finish? %>
              <%= link_to "#",
                data: {toggle: "modal", target: "#TaskModal"},
                class: "pull-right btn-new-task" do %>
                <span class="glyphicon glyphicon-plus"></span>
                <%= t "subjects.task.new_task" %>
              <% end %>
            <% end %>
          </div>

          <div class="note-list user-task-list">
            <%= render partial: "user_task", collection: @subject_supports.user_tasks %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 info-panel">
      <%= render "info_panel" %>
    </div>
  </div>
  <%= render "shared/task_modal" %>
  <%= render "shared/member_modal", trainers: @subject_supports.trainers,
    trainees: @subject_supports.trainees %>
</div>
