<%= form_for [:admin, @role] do |f| %>
  <div class="row">
    <%= render "shared/error_messages", object: @role %>
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control", required: true %>
      </div>

      <div class="form-group">
        <%= f.label :role_type %>
        <%= f.select :role_type, options_for_select(@supports.role_type), {}, class: "form-control", id: "role_type" %>
      </div>

      <%= render "allocate_function", f: f %>
      <div class="space"></div>
      <div class="pull-right">
        <%= f.submit (f.object.new_record? ? t("buttons.create")
          : t("buttons.update")), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
