<div class="personal-skill nobreak">
  <div class="main-title">
    <h3 class><%= t "user.profile.title_personal" %></h3>
    <hr>
  </div>
  <div class=" skill des">
    <div class="row">
      <div class="col-md-11">
        <ul class="skills-list clearfix">
          <li>
            <h4><%= t "user.profile.html_css" %></h4>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-danger bar-width"></div>
            </div>
          </li>
          <li>
            <h4><%= t "user.profile.js" %></h4>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-danger bar-width"></div>
            </div>
          </li>
          <li>
            <h4><%= t "user.profile.ruby" %></h4>
            <div class="progress progress-xs">
            <div class="progress-bar progress-bar-danger bar-width"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-1">
        <div class="title dev">
          <span><%= t "user.profile.coding" %></span>
        </div>
      </div>
    </div>
    <div class="row tag-content">
      <div class="col-md-11">
        <ul class="skills-list clearfix">
          <li>
            <h4><%= t "user.profile.dry" %></h4>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-success bar-width"></div>
            </div>
          </li>
          <li>
            <h4><%= t "user.profile.convention" %></h4>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-success bar-width"></div>
            </div>
          </li>
          <li>
            <h4><%= t "user.profile.thinking" %></h4>
            <div class="progress progress-xs">
            <div class="progress-bar progress-bar-success bar-width"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-1">
        <div class="title dev">
          <span><%= t "user.profile.logic" %></span>
        </div>
      </div>
    </div>
    <div class="row tag-content">
      <div class="col-md-11">
        <ul class="skills-list clearfix">
          <li>
            <h4><%= t "user.profile.attitude" %></h4>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-primary bar-width"></div>
            </div>
          </li>
          <li>
            <h4><%= t "user.profile.comunicate" %></h4>
            <div class="progress progress-xs">
              <div class="progress-bar progress-bar-primary bar-width"></div>
            </div>
          </li>
          <li>
            <h4><%= t "user.profile.question" %></h4>
            <div class="progress progress-xs">
            <div class="progress-bar progress-bar-primary bar-width"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-1">
        <div class="title dev">
          <span><%= t "user.profile.teamwork" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
