<div class="list-group-item nobreak">
  <div class="main-title">
    <h3><%= t "user.profile.title_comment" %></h3>
    <hr>
  </div>
  <div class="block-content ">
    <div class="trainer_note">
      <div class="row ">
        <div class="col-md-12">

            <p class="advantage"><%= t "user.profile.advantage" %></p>
              <blockquote><%= t "user.profile.test_data" %></blockquote>
            <p class="disadvantage"><%= t "user.profile.disadvantage" %></p>
              <blockquote><%= t "user.profile.test_data1" %></blockquote>
            </h3>
        </div>
      </div>
    </div>
  </div>
</div>
