<%= form_for [:admin, @user] do |f| %>
  <%= f.fields_for :profile do |ff| %>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body text-center">
          <h1><%= @supports.user.name %></h1>
          <label><%= t "profiles.columns.staff_code" %></label>
          &nbsp;&nbsp;<%= ff.text_field :staff_code %>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="text-center stage-selection">
        <select class="form-control" disabled="disabled">
          <option selected="true"><%= @stage.name %></option>
        </select>
      </div>
      <div class="well">
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :start_training_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :start_training_date, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :leave_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :leave_date, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :finish_training_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :finish_training_date, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :contract_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :contract_date, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :naitei_company %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :naitei_company, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :graduation %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :graduation, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :user_type_id %>
          </div>
          <div class="col-md-3">
            <select class="for-form" disabled="disabled">
              <option selected="true"><%= @supports.profile.user_type_name %></option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :university_id %>
          </div>
          <div class="col-md-3">
            <select class="for-form" disabled="disabled">
              <option selected="true"><%= @supports.profile.university_name %></option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :programming_language_id %>
          </div>
          <div class="col-md-3">
            <select class="for-form" disabled="disabled">
              <option selected="true"><%= @supports.profile.programming_language_name %></option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :status_id %>
          </div>
          <div class="col-md-3">
            <select class="for-form" disabled="disabled">
              <option selected="true"><%= @supports.profile.status_name %></option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :location_id %>
          </div>
          <div class="col-md-3">
            <select class="for-form" disabled="disabled">
              <option selected="true"><%= @supports.profile.location_name %></option>
            </select>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :working_day %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :working_day, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :join_div_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :join_div_date, disabled: true, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :ready_for_project %>
          </div>
          <div class="col-md-3">
            <%= ff.check_box :ready_for_project, {disabled: true}, 1, 0 %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 text-center">
      <%= f.submit t("buttons.update"), class: "btn btn-primary" %>
    </div>

    <div class="col-md-5">
      <div class="text-center stage-selection">
        <%= ff.select :stage_id, options_for_select(@supports.stages),
          {}, class: "form-control" %>
      </div>
      <div class="well">
                <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :start_training_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :start_training_date, class: "for-form datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :leave_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :leave_date, class: "for-form datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :finish_training_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :finish_training_date, class: "for-form datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :contract_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :contract_date, class: "for-form datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :naitei_company %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :naitei_company, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :graduation %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :graduation, class: "for-form graduation" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :user_type_id %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :user_type_id, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :university_id %>
          </div>
          <div class="col-md-3">
            <%= select_profile_field "university", @supports.universities, ff, "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :programming_language_id %>
          </div>
          <div class="col-md-3">
            <%= select_profile_field "programming_language",
              @supports.programming_languages, ff, "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :status_id %>
          </div>
          <div class="col-md-3">
            <%= select_profile_field "status", @supports.statuses, ff, "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :location_id %>
          </div>
          <div class="col-md-3">
            <%= select_profile_field "location", @supports.locations, ff, "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :working_day %>
          </div>
          <div class="col-md-3">
            <%= ff.number_field :working_day, step: Settings.working_day.step,
              min: Settings.working_day.min, max: Settings.working_day.max, class: "for-form" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :join_div_date %>
          </div>
          <div class="col-md-3">
            <%= ff.text_field :join_div_date, class: "for-form datepicker" %>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-5">
            <%= ff.label :ready_for_project %>
          </div>
          <div class="col-md-3">
            <%= ff.check_box :ready_for_project, {}, 1, 0 %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
