<tr id="user-subject-<%= user_subject.id %>">
  <td class="user-name">
    <%= link_to user_subject.user_name,
      [:admin, user_subject.user] %>
    <% if user_subject.finish? %>
      <%= link_to [:admin, @supports.course_subject, user_subject],
        data: {method: :patch, remote: true,
        confirm: t("messages.delete.confirm")},
        class: "btn-reopen pull-right",
        title: t("buttons.reopen") do %>
        <i><%= image_tag "reopen.png", class: "reopen-img img-circle" %></i>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if user_subject.finish? %>
      <%= l(user_subject.start_date, format: :default) if user_subject.start_date %>
    <% elsif user_subject.progress? || user_subject.waiting? %>
      <div class="form-edit">
        <%= form_for [:admin, @supports.course_subject, user_subject],
          remote: true do |f| %>
          <%= f.text_field :start_date, value: user_subject.start_date ?
            l(user_subject.start_date, format: :default) : "",
            class: "date-edit datepicker", readonly: true %>
          <%= f.button :submit, class: "btn-save", hidden: true %>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <% if user_subject.finish? %>
      <%= l(user_subject.end_date, format: :default) if user_subject.end_date %>
    <% elsif user_subject.progress? || user_subject.waiting? %>
      <div class="form-edit">
        <%= form_for [:admin, @supports.course_subject, user_subject],
          remote: true do |f| %>
          <%= f.text_field :end_date, value: user_subject.end_date ?
            l(user_subject.end_date, format: :default) : "",
            class: "date-edit datepicker", readonly: true %>
          <%= f.button :submit, class: "btn-save", hidden: true %>
        <% end %>
      </div>
    <% end %>
  </td>
  <td>
    <%= l(user_subject.user_end_date, format: :default) if user_subject.user_end_date %>
  </td>
  <td>
    <select data-id="<%= url_user_subject user_subject_id: user_subject.id,
      course_subject_id: @supports.course_subject.id %>" class="stt-user-subject"
      <%= disabled? @supports.course %>>
      <% @supports.statuses.each do |status| %>
        <option value="<%= status[1] %>" <%= is_selected? user_subject, status[0] %>
          class="stt-<%= status[0] %>">
          <%= t "user_subjects.statuses.#{status[0]}" %>
        </option>
      <% end %>
    </select>
  </td>
  <td>
    <%= render "shared/progress_bar", percent: user_subject.percent_progress,
        status: user_subject.status %>
  </td>
  <td class="action">
  </td>
  <td>
    <%= link_to "javascript:void(0)",
      class: "btn-show", data: {id: user_subject.id} do %>
      <i class="glyphicon glyphicon-chevron-down"></i>
    <% end %>
  </td>
</tr>
<% user_subject.user_tasks.includes(:task).each do |user_task| %>
  <tr class="user-subject-<%= user_subject.id %>" hidden>
    <td><%= user_task.task_name %></td>
    <td class=<%= task_color user_task.status %>>
      <%= t "user_tasks.statuses.#{user_task.status}" %></td>
  </tr>
<% end %>
