<h2 class="label"><%= t "courses.labels.trainer" %>
  (<%= @course.trainers.size %>)&nbsp;
  <% unless @course.finish? %>
    <% if policy edit_assign_user_course_path(@course) %>
      <%= link_to [:edit, :assign_user, @course], remote: true, id: "dmModal",
        data: {toggle: "modal", target: "#assign-member-modal"} do %>
        <i class="ionicons ion-android-person-add"></i>
      <% end %>
    <% end %>
  <% end %>
</h2>
<ul>
  <% @course.trainers.each do |trainer| %>
    <%= link_to [:trainer, trainer], title: trainer.name do %>
      <li class="label-user"><%= avatar_user_tag trainer,
        "profile-trainer img-circle", Settings.image_size_50 %>
        <%= trainer.name %>
      </li>
    <% end %>
  <% end %>
</ul>
<h2 class="label"><%= t "courses.labels.trainee" %>
  (<%= @course.trainees.size %>)
  <% unless @course.finish? %>
    <% if policy edit_assign_user_course_path(@course) %>
      <%= link_to [:edit, :assign_user, @course], remote: true, id: "dmModal",
        data: {toggle: "modal", target: "#assign-member-modal"} do %>
        <i class="ionicons ion-android-person-add"></i>
      <% end %>
    <% end %>
  <% end %>
</h2>
<ul>
  <% @course.trainees.each do |trainee| %>
    <% trainee_course = @course.trainee_courses.find{|user_course| user_course.user_id == trainee.id} %>
    <li class="label-user label-user-<%= trainee.id %>
      label-user-<%= trainee_course.status %>">
      <%= link_to [:trainer, trainee], title: trainee.name do %>
        <%= avatar_user_tag trainee,
          "profile-user img-circle", Settings.image_size_50 %>
        <%= trainee.name %>
      <% end %>
      <div class="pull-right user-course">
        <div id="user-course-<%= trainee_course.id %>">
          <%= render "shared/user_course",
            user_course: trainee_course %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
