<% provide :title, t("courses.course") %>
<div id="courses">
  <div class="row course-show">
    <div class="col-md-9 left-side-course">
      <div class="row">
        <div class="col-md-2">
          <%= image_course_tag @course, @course.language_name %>
        </div>
        <div class="col-md-8">
          <span class="header-title"><%= @course.name %></span> &nbsp;
          <span class="label-status <%= set_background_color_status @course.status %>">
            <%= t "courses.labels.status.#{@course.status}" %>
          </span>
          <div>
            <p><i><%= @course.description %></i></p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="dropdown pull-right">
            <button id="dLabel" type="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"
              class="btn btn-default">
              <span class="glyphicon glyphicon-align-justify"
                aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dLabel">
              <% if policy trainer_courses_path @course %>
                <li>
                  <% if @course.init? %>
                    <%= link_to change_status_courses_path(@course),
                      data: {method: :patch,
                      confirm: t("courses.confirms.confirm_start")} do %>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      <%= t "courses.start" %>
                    <% end %>
                  <% elsif @course.progress? %>
                    <%= link_to change_status_courses_path(@course),
                      data: {method: :patch,
                      confirm: t("courses.confirms.confirm_finish")} do %>
                      <i class="fa fa-minus-square-o" aria-hidden="true"></i>
                      <%= t "buttons.finish" %>
                    <% end %>
                  <% elsif @course.finish? %>
                    <%= link_to change_status_courses_path(@course),
                      data: {method: :patch,
                      confirm: t("courses.confirms.confirm_reopen")} do %>
                      <i class="fa fa-retweet" aria-hidden="true"></i>
                      <%= t "buttons.reopen" %>
                    <% end %>
                  <% end %>
                </li>
                <li>
                  <%= link_to clone_courses_path(id: @course), data: {method: :post,
                    confirm: t("courses.confirms.confirm_clone")} do %>
                    <i class="fa fa-clone" aria-hidden="true"></i>
                    <%= t "buttons.clone" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to edit_trainer_course_path do %>
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <%= t "buttons.edit" %>
                  <% end %>
                </li>
              <% end %>
              <% if policy trainer_course_path @course %>
                <li>
                  <%= link_to trainer_course_path(@course),
                    data: {method: :delete,
                    confirm: t("messages.delete.confirm")} do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <%= t "buttons.delete" %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <section class="content row">
        <%= render "course_subjects" %>
      </section>
    </div>

    <div class="col-md-3 user-info right-side-course">
      <h2 class="label"><%= t "courses.labels.trainer" %>
        (<%= @supports.trainers.size %>)&nbsp;
        <% unless @course.finish? %>
          <% if policy edit_trainer_course_assign_trainers_path @course %>
            <%= link_to edit_trainer_course_assign_trainers_path(@course) do %>
              <i class="ionicons ion-android-person-add"></i>
            <% end %>
          <% end %>
        <% end %>
      </h2>
      <ul>
        <% @supports.trainers.each do |trainer| %>
          <%= link_to [:trainer, trainer], title: trainer.name do %>
            <li class="label-user"><%= avatar_user_tag trainer,
              "profile-trainer img-circle", Settings.image_size_50 %>
              <%= trainer.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <h2 class="label"><%= t "courses.labels.trainee" %>
        (<%= @supports.trainees.size %>)
        <% unless @course.finish? %>
          <% if policy edit_trainer_course_assign_trainees_path(@course) %>
            <%= link_to edit_trainer_course_assign_trainees_path(@course) do %>&nbsp;
              <i class="ionicons ion-android-person-add"></i>
            <% end %>
          <% end %>
        <% end %>
      </h2>
      <ul>
        <% @supports.trainees.each do |trainee| %>
          <%= link_to [:trainer, trainee], title: trainee.name do %>
            <li class="label-user"><%= avatar_user_tag trainee,
            "profile-user img-circle", Settings.image_size_50 %>
              <%= trainee.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
