<% provide :title, @post.title.html_safe %>

<div id="faq" class="post-show">
  <div class="row">
    <div class="col-md-8 post-content">
      <div class="clearfix main">
        <div class="clearfix post-detail">
          <div class="clearfix heading">
            <h1 class="title"><%= @post.title.html_safe %></h1>
          </div>
          <div class="col-sm-2 text-center padding-left-0 left-col">
            <div class="votes">
              <div class="vote-div-<%= @post.id %>-Post">
                <%= render "votes/form_vote", target: @post %>
              </div>
            </div>
          </div>
          <div class="col-sm-10 padding-left-0 right-col">
            <div class="user-info">
              <%= link_to @post.user, class: "avatar" do %>
                <%= avatar_user_tag @post.user, "profile-user",
                  Settings.image_size_40 %>
                <%= @post.user_name %>
              <% end %>
            </div>
            <div class="content">
              <%= @post.content.html_safe %>
            </div>
            <div class="tags">
              <% @post.tag_list.each do |tag| %>
                <%= link_to tag, tag_path(tag), class: "tag" %>
              <% end %>
            </div>
            <div class="clearfix bottom">
              <% if user_signed_in? %>
                <div class="actions">
                  <% if current_user? @post.user %>
                    <%= link_to t("buttons.edit"), edit_post_path(@post) %>
                  <% end %>
                  <% if current_user?(@post.user) || current_user.is_admin? %>
                    <%= link_to t("buttons.delete"), @post,
                      remote: true, method: :delete,
                      data: {confirm: t("messages.delete.confirm")} %>
                  <% end %>
                </div>
              <% end %>
              <div class="create-time">
                <%= t "faq.index.time_ago",
                  time: time_ago_in_words(@post.created_at) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="answer_section">
        <div class="answers">
          <div class="title">
            <%= pluralize @post.comments.roots.count, t("faq.show.answer") %>
          </div>
          <div class="all_answers">
            <%= render @supports.load_answers, load_replies: true %>
          </div>
          <% if @post.comments.roots.count > Settings.faq.answers_per_page %>
            <div class="col-sm-12 load_more_answers">
              <%= link_to t("faq.show.load_more_answers"),
                post_comments_path(@post, page: 2), remote: true %>
            </div>
          <% end %>
        </div>
        <div id="add_answer">
          <h3 class="title"><%= t "faq.show.add_answer" %></h3>
          <% if user_signed_in? %>
            <div id="answer_form">
              <%= render "comments/form", post: @post,
                comment: @supports.new_comment,
                btn_new_text: t("faq.show.add_answer") %>
            </div>
          <% else %>
            <div class="alert-box alert-warning">
              <%= t "faq.show.sign_in_to_answer" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <%= render "sidebar", parts: ["search", "related_posts"] %>
    </div>
  </div>
</div>
