<%= form_for [:admin, @group] do |f| %>
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :group_name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <%= render "shared/error_messages", object: @group %>
  <%= render "shared/form_assign_group", f: f, users: @trainees, group_users:
    @group.group_users.map(&:user) %>
<% end %>
