<div class="row document-field">
  <div class="col-md-6">
    <%= f.text_field :title, placeholder: t("courses.document_name"),
      class: "form-control" %>
  </div>
  <div class="col-md-5">
    <%= link_to f.object.title, f.object.document_link.url, target: "_blank" if f.object.title %>
    <%= f.file_field :document_link %><br>
  </div>
  <div class="col-md-1">
    <%= link_to_remove_fields t("courses.document_remove"), f %>
  </div>
  <div class="col-md-10">
    <%= f.text_area :description, class: "form-control", placeholder: t("document.description") %>
  </div>
</div>
<hr>
