<% provide :title, t("courses.course") %>
<div id="courses">
  <div class="row course-show">
    <div class="col-md-9 left-side-course">
      <div class="row">
        <div class="col-md-2">
          <%= image_course_tag @course, @course.programming_language_name %>
        </div>
        <div class="col-md-10">
          <span class="header-title"><%= @course.name %></span> &nbsp;
          <span class="label-status <%= set_background_color_status @course.status %>">
            <%= t "courses.labels.status.#{@course.status}" %>
          </span>
          <div>
            <p><i><%= @course.description %></i></p>
          </div>
        </div>
      </div>
      <br>
      <section class="content row">
        <%= render "course_subjects" %>
      </section>
    </div>

    <div class="col-md-3 user-info right-side-course">
      <%= render "menu_action" %>
      <h2 class="label"><%= t "courses.labels.trainer" %>
        (<%= @supports.trainers.size %>)&nbsp;
        <% unless @course.finish? %>
          <%= link_to edit_admin_course_assign_trainers_path(@course) do %>
            <i class="ionicons ion-android-person-add"></i>
          <% end %>
        <% end %>
      </h2>
      <ul>
        <% @supports.trainers.each do |trainer| %>
          <%= link_to [:admin, trainer], title: trainer.name do %>
            <li class="label-user"><%= avatar_user_tag trainer,
              "profile-trainer img-circle", Settings.image_size_50 %>
              <%= trainer.name %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <h2 class="label"><%= t "courses.labels.trainee" %>
        (<%= @supports.trainees.size %>)
        <% unless @course.finish? %>
          <%= link_to edit_admin_course_assign_trainees_path(@course) do %>&nbsp;
            <i class="ionicons ion-android-person-add"></i>
          <% end %>
        <% end %>
      </h2>
      <ul>
        <% @supports.trainees.each do |trainee| %>
          <%= link_to [:admin, trainee], title: trainee.name do %>
            <li class="label-user label-user-<%= trainee.id %>
              label-user-<%= find_user_course(trainee, @course).status %>">
              <%= avatar_user_tag trainee,
                "profile-user img-circle", Settings.image_size_50 %>
              <%= trainee.name %>
              <div class="pull-right user-course">
                <div id="user-course-<%= find_user_course(trainee, @course).id %>">
                  <%= render "shared/user_course",
                    user_course: find_user_course(trainee, @course) %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
