<% provide :title, t("courses.course") %>
<div id="courses">
  <div class="row course-show">
    <div class="col-md-9 left-side-course">
      <div class="row">
        <div class="col-md-2">
          <%= image_course_tag @course, @course.language_name %>
        </div>
        <div class="col-md-10">
          <span class="header-title"><%= @course.name %></span> &nbsp;
          <span class="label-status <%= set_background_color_status @course.status %>">
            <%= t "courses.labels.status.#{@course.status}" %>
          </span>
          <div>
            <p><i><%= @course.description %></i></p>
          </div>
        </div>
      </div>
      <br>
      <section class="content row">
        <%= render "course_subjects" %>
      </section>
    </div>

    <div class="col-md-3 user-info right-side-course">
      <%= render "menu_action" %>
      <br>
      <div id="list-member-course">
        <%= render "admin/courses/member_lists" %>
      </div>
    </div>
  </div>
  <%= render "assign_member_form" %>
</div>
