<div class="col-md-12">
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :min_point %>
    <%= f.number_field :min_point, min: Settings.evaluations.min,
      class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :avarage %>
    <%= f.number_field :avarage, min: Settings.evaluations.min,
      class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :max_point %>
    <%= f.number_field :max_point, min: Settings.evaluations.min,
      class: "form-control" %>
  </div>
</div>
