<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <% if current_user.role_type_avaiable.any? %>
        <% current_user.role_type_avaiable.each do |role| %>
          <% unless role == @namespace %>
            <li>
              <%= link_to change_current_role_type_path(role), method: :patch do %>
                <%= role.capitalize %>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <li>
      <%= link_to chats_path do %>
        <i class="fa fa-weixin" aria-hidden="true"></i>
        <%= t "chats.chat" %>
        <span class="label label-danger dropdown-label number-message"></span>
      <% end %>
    </li>
    <li class="dropdown messages-menu">
      <%= link_to update_notifications_path, class: "dropdown-toggle",
        data: {toggle: "dropdown"}, method: :patch, remote: true do %>
        <i class="fa fa-bell-o"></i>
        <span class="label label-danger dropdown-label number-notification"><%= not_seen_notification %></span>
      <% end %>
      <ul class="dropdown-menu">
        <li class="header">
          <%= t "layouts.notifications.notification" %></li>
        <li>
          <div id="slimScrollDiv">
            <ul class="menu" id="slimscroll_admin">
              <% @notifications.limit(10).each do |user_notification| %>
                <%= render "shared/notification",
                  notification: user_notification.notification %>
              <% end %>
            </ul>
          </div>
        </li>
        <li class="footer">
          <%= link_to t("layouts.notifications.view_all"), notifications_path %>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <span><%= current_user.name %></span>
        <span class="caret"></span></a>
      <ul class="dropdown-menu dropdown-menu-right dropdown-menu-user-info">
        <li class="user-info">
          <%= link_to [@namespace.to_sym, current_user] do %>
            <i class="fa fa-user"></i>
            <span><%= t "staticpages.profile" %></span>
          <% end %>
        </li>
        <li class="li-logout">
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-backward"></i>
            <span><%= t "staticpages.logout" %></span>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div>
