<header id="user-header" class="navbar navbar-fixed-top">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to root_url, class: "navbar-brand logo" do %>
          <%= image_tag "logo.png", title: t("name_system") %>
        <% end %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="header-navbar">
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to courses_path do %>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <%= t "user-header.courses" %>
              <% end %>
            </li>
            <li>
              <%= link_to exams_path do %>
                <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                <%= t "user-header.exams" %>
              <% end %>
            </li>
            <li>
              <%= link_to chats_path do %>
                <i class="fa fa-weixin" aria-hidden="true"></i>
                <%= t "chats.chat" %>
              <% end %>
            </li>
            <li>
              <%= link_to posts_path do %>
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <%= t "user-header.faq" %>
              <% end %>
            </li>
          </ul>
        <% end %>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to "#", data: {toggle: "modal", target: "#list_task"},
                title: t("user-header.todolist") do %>
                <i class="fa fa-tasks"></i>
              <% end %>
            </li>
            <li class="dropdown messages-menu">
              <%= link_to update_notifications_path, class: "dropdown-toggle",
                data: {toggle: "dropdown"}, method: :patch, remote: true,
                title: t("user-header.notifications") do %>
                <i class="fa fa-bell-o"></i>
                <span class="label label-danger dropdown-label number-notification"><%= not_seen_notification %></span>
              <% end %>
              <ul class="dropdown-menu">
                <li class="header">
                  <%= t "layouts.notifications.notification" %></li>
                <li>
                <div id="slimScrollDiv">
                  <ul class="menu">
                    <% @notifications.limit(10).each do |user_notification| %>
                      <%= render "shared/notification",
                        notification: user_notification.notification %>
                    <% end %>
                  </ul>
                </div>
                <li class="footer">
                  <%= link_to t("layouts.notifications.view_all"), notifications_path %>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to "#", class: "btn-feed-back",
                data: {toggle: "modal", target: "#feed-back-modal"},
                title: t("user-header.feedbacks") do %>
              <i class="fa fa-envelope"></i>
              <% end %>
            </li>
            <li class="dropdown" id="dropdown-profile">
              <a class="dropdown-toggle avatar" data-toggle="dropdown">
                <%= avatar_user_tag current_user, "user-image",
                  Settings.image_size_40 %>
                <span class="hidden-xs">
                  <%= current_user.name %>
                </span><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="m_2">
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user"></i>
                    <%= t "staticpages.profile" %>
                  <% end %>
                </li>
                <li class="m_2">
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-lock"></i>
                    <%= t "staticpages.logout" %>
                  <% end %>
                </li>
              </ul>
            </li>
          <% else %>
            <li>
              <%= link_to t("staticpages.home"), root_path(anchor: "home-index"),
                class: "scroll_to_section active", data: {target: "#home-index"} %>
            </li>
            <li>
              <%= link_to t("staticpages.learning_programs"), root_path(anchor: "learning-programs"),
                class: "scroll_to_section", data: {target: "#learning-programs"} %>
            </li>
            <li>
              <%= link_to t("staticpages.faq"), root_path(anchor: "faq_homepage"),
                class: "scroll_to_section", data: {target: "#faq_homepage"} %>
            </li>
            <li>
              <%= link_to t("staticpages.about"), root_path(anchor: "counters"),
                class: "scroll_to_section", data: {target: "#counters"} %>
            </li>
            <li>
              <button class="btn btn-danger btn-login" data-toggle="modal" data-target="#login-modal">
                <i class="fa fa-sign-in"></i> <%= t "staticpages.login" %>
              </button>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
